@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    --black: #000;
    --white: #ffffff;
}
  

/*################ global css start ################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*################ global css end ################*/



/*################ config css start ################*/
body {
    font-family: 'Raleway', sans-serif;
    color: var(--white);
    font-weight: 400;
}
/*################ config css end ################*/



/*################ content css start ################*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background: url(../images/bg.png) no-repeat center center/cover;
}
.content {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.content .text {
    padding: 50px 0;
}

.content .text h1{
    font-size: 38px;
    font-weight: 400;
    white-space: pre-line;
    line-height: 50px;
    color: var(--white);
}

.content .text h1 strong {
    font-weight: 700;
}

/* newsletter  */
.newsletter .input-form {
    position: relative;
}
.newsletter .form-control {
    height: 59px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    padding-right: 170px;
}

.newsletter .form-control::placeholder {
    color: var(--white);
    font-size: 1rem;
}

.newsletter .btn {
    position: absolute;
    right: 5px;
    background: var(--white);
    color: var(--black);
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 10px);
    width: 150px;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.2s linear;
}

.newsletter .btn:hover {
    opacity: 0.9;
}

.newsletter p {
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}

/* responsive */
@media(max-width: 575px){
    .newsletter .form-control {
        padding-right: 140px;
    }
    .newsletter .btn {
        width: 120px;
    }
}
/*################ content css end ################*/
  